<%= erb :hbanner, :layout => false %>

<div class="headline">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <h1>Contacts</h1>
      </div>
    </div>
  </div>
</div>

<div class="content marked">
  <div class="container">
    <div class="row clearfix">
      <div class="column two-fourth">
        <p>Sudoku ist eines der beliebtesten Zahlenrätsel. Das Spiel wird regelmäßig in den Zeitungen und 
        Zeitschriften auf der ganzen Welt veröffentlicht. Extra für Sie haben wir die Online-Version des 
        klassischen Sudoku-Spiels entwickelt. Sudoku-Rätsel lösen ist der beste Weg, sich zu konzentrieren 
        und die Freizeit nützlich zu verbringen.</p>

        <p>Welt veröffentlicht. Extra für Sie haben wir die Online-Version des klassischen Sudoku-Spiels entwickelt. Sudoku-Rätsel lösen ist der beste Weg, sich zu konzentrieren und die Freizeit nützlich zu verbringen.</p>

        <form class="form">
          <div class="form-control">
            <label for="c-form-email">E-mail</label>
            <input type="text" id="c-form-email" class="input" name="email">
          </div>

          <div class="form-control">
            <label for="c-form-name">Name</label>
            <input type="text" id="c-form-name" class="input" name="username">
          </div>

          <div class="form-control">
            <label for="c-form-message" class="top" name="message">Message</label>
            <textarea id="c-form-message"></textarea>
          </div>

          <div class="form-control">
            <label></label>
            <button type="button" class="btn">Send Message</button>
          </div>
        </form>
      </div>

      <div class="column fourth">
        <a href="#" class="banner vertical desktop">
          <img src="img/banner-vertical.png" alt="">
        </a>
      </div>
    </div>
  </div>
</div>
