<div class="headline">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <h1>Sudoku kostenlos online spielen</h1>
      </div>
    </div>
  </div>
</div>
<div class="content marked">
<div class="container">
  <div class="row clearfix">
    <div class="column four-fifth">
      <div class="row clearfix">
        <div class="column two-fourth no-padding">
          <div class="row clearfix">
            <div class="controls">
              <div class="ctrl floated left">
                <select>
                  <option value="1">Easy</option>
                  <option value="2">Medium</option>
                  <option value="3">Hard</option>
                  <option value="4">Expert</option>
                  <option value="5">Insane</option>
                </select>
              </div>

              <div class="ctrl floated right">
                <button class="btn primary game" id="solve-btn">Solve</button>
                <button class="btn primary game" id="clear-btn">Clear</button>
                <button class="btn primary game" id="hint-btn">Hint</button>
                <button class="btn primary game" data-remodal-target="modal-solution-correct">Check</button>
              </div>
            </div>
          </div>
          <div id="grid-wrapper"></div>
        </div>
        <div class="column fourth no-padding">
          <div class="timer">
            <i class="icon timer"></i>
            <span id="timer">00:00:00</span>
          </div>

          <div class="game-menu">
            <div class="item">
              <i class="icon save"></i>
              <a href="javascript:void(0)">Save game</a>
            </div>
            <div class="item">
              <i class="icon open"></i>
              <a href="javascript:void(0)" data-remodal-target="modal-saves">Load game</a>
            </div>
            <div class="item">
              <i class="icon print"></i>
              <a href="javascript:void(0)">Print</a>
            </div>
          </div>

          <div class="best-players">
            <div class="best-players-head">
              <i class="best-player-icon"></i>
              <span>Best players</span>
            </div>
            <div class="best-players-body">
              <div class="item">
                <span class="number">1</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">2</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">3</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">4</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">5</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">6</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">8</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">9</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="item">
                <span class="number">10</span>
                <span class="name">harry.kiselev</span>
              </div>
              <div class="text aligned center">
                  <a href="#">All players</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="column fifth desktop">
      <a href="#" class="banner vertical">
        <img src="img/banner-vertical.png" alt="">
      </a>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div class="row clearfix">
    <div class="column full no-padding mobile">
      <br><br>
      <h2>Rangliste der Spieler</h2>

      <table class="table" cellspacing="0">
        <thead>
          <th class="col-id text aligned right">#</th>
          <th class="col-username text aligned left">Username</th>
          <th class="col-easy text aligned right desktop">Easy</th>
          <th class="col-medium text aligned right">Medium</th>
          <th class="col-hard text aligned right desktop">Hard</th>
          <th class="col-expert text aligned right desktop">Expert</th>
          <th class="col-insane text aligned right desktop">Insane</th>
          <th class="col-score text aligned right">Score</th>
          <th class="col-last text aligned right">Last Played</th>
        </thead>

        <tbody>
          <tr>
            <td class="text aligned right">1</td>
            <td class="text medium">harry.kiselev</td>
            <td class="text aligned right desktop">46575</td>
            <td class="text aligned right">45889</td>
            <td class="text aligned right desktop">45888</td>
            <td class="text aligned right desktop">56434</td>
            <td class="text aligned right desktop">34344</td>
            <td class="text medium aligned right">55453453</td>
            <td class="text aligned right">Nov 15, 2016</td>
          </tr>
        </tbody>
      </table>

      <div class="text aligned center">
        <a href="#">Vollständige Rangliste anzeigen</a>
      </div>
      <br><br><br>
    </div>
  </div>
</div>

<div class="content marked">
  <div class="container">
    <div class="row clearfix">
      <div class="column full">
        <img class="image floated" src="img/img-index.png" alt="Sudoku">
        <p>Um der Rangliste hinzufügen zu können, müssen Sie sich anmelden. Nach der Anmeldung werden Sie für jede Sudoku-Lösung Punkte bekommen. Je mehr Punkte Sie bekommen, desto höher werden Sie an der Rangliste sein. Melden Sie sich für das Spiel an, wählen Sie die gewünschte Schwierigkeitsstufe und laden Sie Ihre Freunde ein, mit denen Sie wetteifern können!</p>

        <h1>Spielregeln</h1>

        <p>Um ein Sudoku zu lösen, müssen Sie die leeren Zellen des Spielfeldes mit Ziffern von 1 bis 9 so füllen, dass jede Ziffer in jeder Zeile, Spalte und in jedem 3х3-Block genau einmal vorkommt. Um Sudoku zu spielen, brauchen Sie keine speziellen mathematischen oder rechnerischen Fertigkeiten zu haben.</p>

        <p>Um zu beginnen, wählen Sie die Schwierigkeitsstufe: sehr leicht, leicht, mittelschwer, schwer und sehr schwer. Je höher die Schwierigkeitsstufe ist, desto weniger Zellen werden am Anfang des Spiels mit den Ziffern (von 1 bis 9) gefüllt. Keine Sorge, man kann ein Profi werden, auch wenn man mit einer leichten Stufe beginnt. Je nach der Schwierigkeitsstufe und Übung brauchen Sie von 5 bis 30 Minuten, um ein Sudoku zu lösen. Wir empfehlen Ihnen, sich mit den grundlegenden Lösungstechniken des Sudoku vertraut zu machen.</p>

        <p>Neue Ziffern einzugeben und die früher eingegebenen Ziffern zu korrigieren darf man nur in leeren Sudoku-Feldern, die von Anfang an nicht gefüllt waren. Um eine Ziffer zu löschen, wählen Sie die Zelle und drücken Sie die Taste „Löschen“ oder geben Sie ersatzweise eine neue Ziffer ein. Rote Ziffern bedeuten, dass die Spielfelder regelwidrig gefüllt sind. Prüfen Sie das Ganze aufmerksam durch, finden Sie die Fehler und korrigieren Sie sie.</p>
      </div>
    </div>
  </div>
</div>
