<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>404 Not Found - Sudoku spielen</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="">
  <meta name="description" content="">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

  <!-- Icons -->
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header class="header not-found">
    <div class="container">
      <a href="/" class="header-logo"></a>
    </div>
  </header>

  <div class="container">
    <div class="pumpkin"></div>
    <h1 class="text-center">Sudoku kostenlos online spielen</h1>
  </div>

</body>
</html>
