
.fa-twitter:before { content: '\e800'; } /* '' */
.fa-clock:before { content: '\e801'; } /* '' */
.fa-award:before { content: '\e802'; } /* '' */
.fa-quote-left:before { content: '\e803'; } /* '' */
.fa-quote-right:before { content: '\e804'; } /* '' */
.fa-star-empty:before { content: '\e805'; } /* '' */
.fa-print:before { content: '\e806'; } /* '' */
.fa-star:before { content: '\e807'; } /* '' */
.fa-down-big:before { content: '\e808'; } /* '' */
.fa-facebook:before { content: '\e81a'; } /* '' */
.fa-gplus:before { content: '\e81d'; } /* '' */
.fa-trash-empty:before { content: '\e81e'; } /* '' */
.fa-reply:before { content: '\f112'; } /* '' */
.fa-hand-pointer-o:before { content: '\f25a'; } /* '' */